.button {
    justify-content: center;
    color: var(--primary-hover);
    background: var(--primary);
    display: flex;
    align-items: center;
    border-color: var(--primary);
    margin: auto;
}

.button:hover {
    color: var(--primary) !important;
    background: var(--primary-hover) !important;
    border-color: var(--primary) !important;
}
