.iconProcess {
    color: var(--process-color);
    background: var(--process-background);
}

.iconFinished {
    color: var(--finished-color);
    background: var(--finished-background);
}

.iconProcess,
.iconFinished {
    border-radius: 10px;
    font-size: 16px;
}
