.statusContainer {
    display: flex;
}

.label {
    padding-right: 4px;
}

.statusActive {
    color: #389e0d;
    background: #f6ffed;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
}

.statusBlocked {
    color: #9e1f0d;
    background: #ffedf1;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
}
