.listItem {
    border: 1px solid var(--border-color) !important;
    border-radius: 5px !important;
    margin: 5px 5px 5px 5px !important;
    padding: 5px 5px 5px 10px !important;
}

.listItem:hover {
    background-color: var(--item-hover);
}

