.container {
    min-width: 200px;
}

.iconProcess {
    color: var(--process-color);
    background: var(--process-background);
}

.iconFinished {
    color: var(--finished-color);
    background: var(--finished-background);
}

.iconNotHappen {
    color: var(--not-happen-color);
    background: var(--not-happen-background);
}

.iconCancelled {
    color: var(--cancelled-color);
    background: var(--cancelled-background);
}

.iconProcess,
.iconFinished,
.iconNotHappen,
.iconCancelled {
    border-radius: 10px;
    font-size: 16px;
}
