.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    padding: 0 !important;
    background-color: #001529 !important;
    color: white !important;
    font-size: 12px !important;
}
