.justifySpaceBetween,
.justifyStart {
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    padding: 7px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--primary-hover);
    font-weight: 600;
    letter-spacing: 0.4px;
    width: 100%;
    align-items: end;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.justifyStart {
    justify-content: start;
}
