.ticketslist{
    overflow: auto;
    height: 94%;
}

.spinner {
    margin-left: 5px;
    font-size: 24;
}

.loader {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
