.innerContainer {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.category {
    background-color: var(--finished-color);
    color: var(--primary-hover);
    margin-inline-end: 0px;
}
