.statusActive {
    color: var(--finished-color);
    background: var(--finished-background);
}

.statusBlocked {
    color: var(--cancelled-color);
    background: var(--cancelled-background);
}

.statusActive,
.statusBlocked {
    border-radius: 10px;
    font-size: 16px;
}