:root {
  --font-family: 'Fira Sans', sans-serif;
  --primary: rgb(4 84 231);
  --helper-color: #00000078;
  --primary-hover: white;
  --process-color: rgb(141 55 228);
  --process-background: rgb(240 236 245);
  --finished-color: #389e0d;
  --finished-background: rgb(232 245 219);
  --not-happen-color: rgb(201, 192, 63);
  --not-happen-background: rgb(245, 247, 181);
  --cancelled-color: rgb(245 10 10);
  --cancelled-background: rgb(255 226 226);
  --border-color: #87878796;
  --border-color-light: #87878754;
  --item-hover: #3c8ae114
}

html,
body {
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--border-color-light);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--border-color-light);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 20px;
  border: 2px solid var(--border-color);
}
