:root {
  --font-family: 'Fira Sans', sans-serif;
  --primary: rgb(4 84 231);
  --primary-hover: white;
  --process-color: rgb(141 55 228);
  --process-background: rgb(240 236 245);
  --finished-color:#389e0d;
  --finished-background: rgb(232 245 219);
}

html,
body {
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(169, 170, 171, 0.75) rgba(0, 0, 0, 0.1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(169, 170, 171, 0.75);
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
